* text=auto

*.tf        text eol=lf
*.tfvars    text eol=lf
*.tftpl     text eol=lf
*.sh        text eol=lf
*.json      text eol=lf
*.md        text eol=lf
*.hcl       text eol=lf
.gitignore  text eol=lf
Jenkinsfile text eol=lf
